<div class="page-content">
    <div class="container">
        <div class="main-section">
            <div class="form">
                <img class="logo" src="assets/png/logo.png">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label><span class="lock"></span>New Password</mat-label>
                        <input matInput [(ngModel)]="password">
                    </mat-form-field> 
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label><span class="lock"></span>Confirm new Password</mat-label>
                        <input matInput type="password" [(ngModel)]="confirmPassword">
                    </mat-form-field> 
                </div>
                <button mat-button class="button" (click)="onValidate()">Send</button>
            </div>
        </div>
    </div>
</div>