<div class="page-content">
    <!-- <app-header></app-header> -->
    <mat-card class="container">
        <div class="information-title">
            <mat-card-title>Informations</mat-card-title>
            <mat-card class="information">
                <div class="information-container">
                    <div class="left-information">
                        <div>
                            <mat-form-field class="info-option" appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput type="text" [(ngModel)]="title">
                                <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="title=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="info-option" appearance="outline">
                                <mat-label>Artist</mat-label>
                                <input matInput type="text" [(ngModel)]="artist">
                                <button mat-button *ngIf="artist" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="zrtist=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="info-option" appearance="outline">
                                <mat-label>Album</mat-label>
                                <input matInput type="text" [(ngModel)]="album">
                                <button mat-button *ngIf="album" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="album=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="right-information-container">
                        <div class="right-information">
                        </div>
                        <div>
                            <mat-form-field class="info-option" appearance="outline">
                                <mat-label>Genre</mat-label>
                                <input matInput type="text" [(ngModel)]="genre">
                                <button mat-button *ngIf="genre" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="genre=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="info-option" appearance="outline">
                                <mat-label>Year</mat-label>
                                <input matInput type="text" [(ngModel)]="year">
                                <button mat-button *ngIf="year" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="year=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="setting-title">
            <mat-card-title>Settings</mat-card-title>
            <mat-card class="setting">
                <div class="setting-container">
                    <div class="setting-item">
                        <mat-card-content class="setting-item-value">Piste number :<input [(ngModel)]="nbPiste"
                                class="number-of-piste" matInput type="number"></mat-card-content>
                    </div>
                    <div class="setting-item">
                        <mat-card-content class="setting-item-value">Diffusion :
                            <mat-slide-toggle class="diffusion-option" [checked]="diffusion"></mat-slide-toggle>
                        </mat-card-content>
                    </div>
                    <div class="setting-item ">
                        <mat-card-content class="setting-item-value ">Rec :
                            <mat-checkbox class="rec-option " [checked]="rec "></mat-checkbox>
                        </mat-card-content>
                    </div>
                </div>
            </mat-card>
        </div>
        <button mat-button class="validate " (click)="createNewMix()">Validate</button>
    </mat-card>
</div>