<div class="page-content">
    <div class="container">
        <div class="main-section">
            <div class="form">
                <img class="logo" src="assets/png/logo.png">
                <p *ngIf="!sent" class="describe">Please enter your email, we will send you back your link for reset your password.</p>
                <p *ngIf="sent" class="describe">The email is successfully sent. Please check your Inbox or your spam.</p>
                <div *ngIf="!sent">
                    <mat-form-field appearance="outline">
                        <mat-label><span class="user"></span>Email</mat-label>
                        <input matInput placeholder="Placeholder" [(ngModel)]="email">
                    </mat-form-field>
                </div>
                <button *ngIf="!sent" mat-button class="button" (click)="sendEmail()">Send</button>
                <button *ngIf="sent" mat-button class="button" routerLink="/login">Login</button>
            </div>
        </div>
    </div>
</div>