:host {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page-content {
  background-color: #100f15;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  margin: 0;
}

::ng-deep {
  $input-main-color: white;
  $input-label-color: white;
  .ng-touched::-webkit-input-placeholder {
    color: $input-main-color;
  }
  .ng-untouched::-webkit-input-placeholder {
    color: $input-main-color;
  }
  // mat-icon-stepper selected color change
  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: $input-main-color !important;
  }

  // input outline color
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-main-color !important;
  }

  // mat-input focused color
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $input-main-color !important;
  }

  // mat-input error outline color
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick {
    color: $input-main-color !important;
    opacity: 0.8 !important;
  }

  // mat-input caret color
  .mat-input-element {
    caret-color: $input-main-color !important;
  }

  // mat-input error caret color
  .mat-form-field-invalid .mat-input-element,
  .mat-warn .mat-input-element {
    caret-color: $input-main-color !important;
  }

  // mat-label normal state style
  .mat-form-field-label {
    color: $input-label-color !important;
  }

  // mat-label focused style
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $input-main-color !important;
  }

  // mat-label error style
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $input-main-color !important;
  }
}

.main-section {
  display: table-cell;
  width: 550px;
  padding-top: 100px;
}

.container {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.logo {
  width: 153px;
  margin: 20px;
  margin: 20px auto 50px auto;
  display: block;
}

mat-form-field {
  width: 260px;
  display: block;
  margin: 10px auto;
}

.button {
  background-color: white;
  color: black;
  margin: 0px auto;
  display: block;
  width: 130px;
}
.user {
  background: url(../../../../assets/svg/user2.svg) no-repeat scroll 0px 0px;
  padding-left: 30px;
  fill: white;
}

input {
  padding-left: 10px;
}
.describe {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
